# [Python MongoDB](https://www.w3schools.com/python/python_mongodb_create_collection.asp)

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
myclient

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
mydb = myclient["mydatabase"]
mydb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

In [4]:
print(myclient.list_database_names())

['admin', 'appdb', 'config', 'local', 'mydatabase', 'mydb', 'users']

In [5]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")

The database exists.

In [6]:
mydict = { "name": "John", "address": "Highway 37" }
mycol = mydb["customers"]

x = mycol.insert_one(mydict)
x

In [7]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

63bfe85c7d93281ceeb3fe11

In [8]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)
print(x.inserted_ids)

[ObjectId('63bfe85c7d93281ceeb3fe12'), ObjectId('63bfe85c7d93281ceeb3fe13'), ObjectId('63bfe85c7d93281ceeb3fe14'), ObjectId('63bfe85c7d93281ceeb3fe15'), ObjectId('63bfe85c7d93281ceeb3fe16'), ObjectId('63bfe85c7d93281ceeb3fe17'), ObjectId('63bfe85c7d93281ceeb3fe18'), ObjectId('63bfe85c7d93281ceeb3fe19'), ObjectId('63bfe85c7d93281ceeb3fe1a'), ObjectId('63bfe85c7d93281ceeb3fe1b'), ObjectId('63bfe85c7d93281ceeb3fe1c'), ObjectId('63bfe85c7d93281ceeb3fe1d')]

In [9]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('63bfe6fff10999cc549b9bb3'), 'name': 'John', 'address': 'Highway 37'}

In [10]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('63bfe6fff10999cc549b9bb3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb4'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb5'), 'name': 'Minnie', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb7'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb8'), 'name': 'Minnie', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbb'), 'name': 'Minnie', 'address': 'One way 98'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbf'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63bfe84e7c4922f32253b4d8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe10'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe11'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [11]:
mycol.find()

In [12]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Minnie', 'address': 'Apple st 652'}
{'name': 'Michael', 'address': 'Canyon 123'}
{'name': 'Minnie', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Minnie', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
for x in mycol.find({},{ "address": 0 }):
    print(x)

{'_id': ObjectId('63bfe6fff10999cc549b9bb3'), 'name': 'John'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb4'), 'name': 'Peter'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb5'), 'name': 'Minnie'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb7'), 'name': 'Michael'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb8'), 'name': 'Minnie'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb9'), 'name': 'Betty'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbb'), 'name': 'Minnie'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbc'), 'name': 'Vicky'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbd'), 'name': 'Ben'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbe'), 'name': 'William'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbf'), 'name': 'Chuck'}
{'_id': ObjectId('63bfe84e7c4922f32253b4d8'), 'name': 'John'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe10'), 'name': 'John'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe11'), 'name': 'Peter'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe12'), 'name': 'Amy'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe13'), 'name': 'Hannah'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe14'), 'name': 'Michael'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe15'), 'name': 'Sandy'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe16'), 'name': 'Betty'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe17'), 'name': 'Richard'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe18'), 'name': 'Susan'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe19'), 'name': 'Vicky'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1a'), 'name': 'Ben'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1b'), 'name': 'William'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1c'), 'name': 'Chuck'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1d'), 'name': 'Viola'}

In [14]:
try:
    for x in mycol.find({},{ "name": 1, "address": 0 }):
        print(x)
except Exception as e:
    print(e)

Cannot do exclusion on field address in inclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do exclusion on field address in inclusion projection', 'code': 31254, 'codeName': 'Location31254'}

In [15]:
myquery = { "address": "Park Lane 38" }
mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63bfe6fff10999cc549b9bbd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1a'), 'name': 'Ben', 'address': 'Park Lane 38'}

In [16]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63bfe6fff10999cc549b9bbc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [17]:
myquery = { "address": { "$lt": "S" } }
mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63bfe6fff10999cc549b9bb3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb4'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb5'), 'name': 'Minnie', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb7'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb8'), 'name': 'Minnie', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbb'), 'name': 'Minnie', 'address': 'One way 98'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbf'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63bfe84e7c4922f32253b4d8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe10'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe11'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1c'), 'name': 'Chuck', 'address': 'Main Road 989'}

In [18]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63bfe85c7d93281ceeb3fe17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [19]:
mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('63bfe85c7d93281ceeb3fe12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbf'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe84e7c4922f32253b4d8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe10'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb7'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb5'), 'name': 'Minnie', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb8'), 'name': 'Minnie', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbb'), 'name': 'Minnie', 'address': 'One way 98'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb4'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe11'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1b'), 'name': 'William', 'address': 'Central st 954'}

In [20]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('63bfe6fff10999cc549b9bbe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb4'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe11'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb5'), 'name': 'Minnie', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb8'), 'name': 'Minnie', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbb'), 'name': 'Minnie', 'address': 'One way 98'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb7'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe84e7c4922f32253b4d8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe10'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbf'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe12'), 'name': 'Amy', 'address': 'Apple st 652'}

In [21]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [22]:
myquery = { "address": {"$regex": "^S"} }
x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

2  documents deleted.

In [23]:
# mycol.drop()

In [24]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': ObjectId('63bfe6fff10999cc549b9bb3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb4'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb5'), 'name': 'Minnie', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb7'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb8'), 'name': 'Minnie', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbb'), 'name': 'Minnie', 'address': 'One way 98'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63bfe6fff10999cc549b9bbf'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63bfe84e7c4922f32253b4d8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe10'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe11'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe14'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63bfe85c7d93281ceeb3fe1c'), 'name': 'Chuck', 'address': 'Main Road 989'}

In [25]:
myquery = { "address": { "$regex": "^O" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)
print(x.modified_count, "documents updated.")

2 documents updated.

In [26]:
myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
    print(x)

{'_id': ObjectId('63bfe6fff10999cc549b9bb3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb4'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb5'), 'name': 'Minnie', 'address': 'Apple st 652'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb7'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63bfe6fff10999cc549b9bb8'), 'name': 'Minnie', 'address': 'Ocean blvd 2'}